/* Add some initial styles for the topbar */
#topbar {
    display: block; /* Initially visible */
    transition: opacity 0.3s; /* Add a transition for smooth hiding */
    opacity: 1; /* Initial opacity */
}

/* Add styles to hide the topbar on scroll */
.scrolled #topbar {
    opacity: 0; /* Hide the topbar by reducing opacity */
}

/* Add CSS to make the navbar sticky */
#sticky-navbar {
    position: sticky;
    top: 0;
    background-color: white; /* Set the background color you desire */
    z-index: 1000; /* Set a z-index value to ensure it appears above other content */
}

/* Add initial styles for the topbar */
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* Adjust background color as needed */
    transition: opacity 0.3s;
    opacity: 1;
}

/* Add styles to hide the topbar on scroll */
.scrolled #topbar {
    opacity: 0;
}

/* CSS for logo */
.logo-img {
    width: 80px; /* Adjust the width as needed */
    margin-right: 10px; /* Adjust the spacing between the logo and text */
}

/* CSS to style the image and adjust its position */
.image-container {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    margin-right: 5px; /* Add margin to separate the image from the navbar */
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.image {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 100%; /* Ensure the image doesn't exceed the container height */
}

/* CSS for the colorless container */
.colorless-container {
    /* No need to specify a background color; it defaults to transparent */
    padding: 10px; /* You can add padding as needed */
   
}
